<div class="height">
  <form class="container row">
    <h1 class="text-center mt-2">Login</h1>
    <div class="row g-2">

      <div class="col-12">
        <label for="email" class="form-label noselect">Email</label>

        <input type="text" placeholder="Enter Username" name="uname" required>
      </div>


      <div class="col-12">
        <label for="pwd" class="form-label noselect">Password</label>

        <input type="password" placeholder="Enter Password" name="psw" required>
      </div>
      <button type="submit">Login</button>
      <a routerLink="/signup" class="text-white col-6 text-center" style="text-decoration: none">Har du ikke en konto?</a>
      <!--<a routerLink="/" class="text-white col-6 text-center" style="text-decoration: none;">Har du glemt din kode?</a>-->



    </div>
  </form>
</div>
